*{
    padding: 0;
    margin: 0;
    display: block;
}
body{
    background: rgb(200, 200, 206);
background: linear-gradient(90deg, rgb(206, 206, 211) 0%, rgba(91,65,47,1) 35%, rgba(0,212,255,1) 100%);
font-family: sans-serif;
text-align: center;  
}
.about_containt{
    height: 80vh;
    text-transform: capitalize;
    color: aliceblue;
    margin: auto;
    width: 80%;
    padding: 10%;
    line-height: 3rem;

}
#about_heading{
      font-size: 4rem;
}
.contact_container{
    padding: 10%;
    align-items: center;
    background-color: rgb(222, 229, 234);
}